@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  body {
    font-family: 'Inter', sans-serif;
  }
  h1,
  h2,
  h3 {
    font-family: 'Playfair Display', serif;
  }
}

html {
  scroll-behavior: smooth;
}
